.App {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.MarqueeCom {
    background-color: black;
}


.image_wrapper {
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    /* Adjust the height as per your requirement */
}

.image_wrapper img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
}