.navbar-wrapper {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 999;
}
.navbar {
    background-color: #000;
    color: #fff;
    display: flex;
    align-items: center;
}


